<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>HistoricoFiltro</filter-name>
  	<display-name>HistoricoFiltro</display-name>
  	<description></description>
  	<filter-class>org.meg.controller.HistoricoFiltro</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>HistoricoFiltro</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>GraficoServlet</servlet-name>
  	<display-name>GraficoServlet</display-name>
  	<description></description>
  	<servlet-class>org.meg.controller.GraficoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Grafico</servlet-name>
  	<display-name>Grafico</display-name>
  	<description></description>
  	<servlet-class>org.meg.controller.Grafico</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TabelaServlet</servlet-name>
  	<display-name>TabelaServlet</display-name>
  	<description></description>
  	<servlet-class>org.meg.controller.TabelaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<display-name>HomeServlet</display-name>
  	<description></description>
  	<servlet-class>org.meg.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HistoricoServlet</servlet-name>
  	<display-name>HistoricoServlet</display-name>
  	<description></description>
  	<servlet-class>org.meg.controller.HistoricoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadServlet</servlet-name>
  	<display-name>UploadServlet</display-name>
  	<description></description>
  	<servlet-class>org.meg.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GraficoServlet</servlet-name>
  	<url-pattern>/GraficoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Grafico</servlet-name>
  	<url-pattern>/Grafico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TabelaServlet</servlet-name>
  	<url-pattern>/TabelaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HistoricoServlet</servlet-name>
  	<url-pattern>/HistoricoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
</web-app>